body {
    /*    background-image: url(/img/1314324_b306a8a09d_o.jpg);*/
    width: 100%;
    height: 100%;
    background-color: #f9f8f2;
}
.para {
    line-height: 200%;
    font-weight: 600;
}
.footer {
    margin-top: 4%;
    background-color: black;
}
.thead {
    background-color: black;
}
.margin-top-2 {
    margin-top: 2%;
}
.margin-top-4 {
    margin-top: 10%;
}
p {
    font-family: 'Slabo 13px', serif;
}
.label {
    color: #a94442;
    background-color: black;
}